<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button v-on:click="logText">click me</button>
    <input type="text" v-on:keyup.enter="logText" v-model="message" v-on:keyup.delete="delText">
    <button>add</button>
    <p v-if="viewText">{{ message }}</p>
    <p v-else></p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      methods: {
        logText:function() {
          this.viewText=true;
          console.log('clicked');
        },
        delText: function() {
          this.viewText=false;
        }
      },
      data: {
        message: '',
        viewText: false,
      }
    })
  </script>
</body>
</html>